@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-beige text-black font-sans;
  }
}

.navbar-bg {
  background-image: url('/workspaces/Mothra/The_First_Light/Front-end/public/images/glass-board.png');
  background-size: cover;        /* l'image couvre toute la navbar */
  background-position: center;   /* centrée horizontalement et verticalement */
  background-repeat: no-repeat;  /* pas de répétition */
}

@media (max-width: 768px) {
  .navbar-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}